
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600&display=swap');

// Fuentes
$fuente_principal: 'Asap', sans-serif;

// Tamaño de Media Queries
$telefono: 520px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$celeste: #3DA9E5;
$blanco: #fff;;
$negro: #464646;
$verde: #82f694;
$verdeClaro: #72f25e;
$naranja: #feb078;
$rojo: #e07a7a;
$grisClaro: #F8F8F8;
$grisOscuro: #BDBDBD;
$gris: #dcdcdc;


$separacion: 5rem;

// Fuentes

$regular : 400;
$medium: 500;
$semiBold: 600;